<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.dao.OperatorLogsMapper">
  <resultMap id="BaseResultMap" type="com.sinosoft.normal.po.OperatorLogs">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="USERCODE" jdbcType="VARCHAR" property="userCode" />
    <result column="OPERATIONDATE" jdbcType="TIMESTAMP" property="operationDate" />
    <result column="ROLECODE" jdbcType="VARCHAR" property="roleCode" />
    <result column="ROLENAME" jdbcType="VARCHAR" property="roleName" />
    <result column="AREACODE" jdbcType="VARCHAR" property="areaCode" />
    <result column="COMPANYCODE" jdbcType="VARCHAR" property="companyCode" />
    <result column="FINDCONTENT" jdbcType="VARCHAR" property="findContent" />
    <result column="DATAID" jdbcType="VARCHAR" property="dateId" />
    <result column="Reverse1" jdbcType="VARCHAR" property="reverse1" />
    <result column="Reverse2" jdbcType="VARCHAR" property="reverse2" />
    <result column="Reverse3" jdbcType="VARCHAR" property="reverse3" />
  </resultMap>
  
  
   <resultMap id="OperaLogVo" type="com.sinosoft.normal.vo.OperaLogVo">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="USERNAME" jdbcType="VARCHAR" property="userName" />
    <result column="OPERATIONDATE" jdbcType="TIMESTAMP" property="operationDate" />
    <result column="COMCNAME" jdbcType="VARCHAR" property="comCname" />
    <result column="ROLENAME" jdbcType="VARCHAR" property="roleName" />
    <result column="AREACNAME" jdbcType="VARCHAR" property="areaCname" />
    <result column="FINDCONTENT" jdbcType="VARCHAR" property="findContent" />
    <result column="DATAID" jdbcType="VARCHAR" property="dateId" />
  </resultMap>
  
  
  <sql id="Base_Column_List">
    ID, USERCODE, OPERATIONDATE, ROLECODE, ROLENAME, AREACODE, COMPANYCODE, FINDCONTENT, 
    DATAID, Reverse1, Reverse2, Reverse3
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from operatorlogs
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  
  
  
  
  <!--获取所有的日志列表  过滤查看  -->
  <select id="queryLogsByFilter" parameterType="java.util.HashMap" resultMap="OperaLogVo">
	  select o.id,o.operationdate,o.rolename,o.findcontent,o.dataid,a.areaCname,u.username,c.comCName
		from 
		operatorlogs as o,syscompany as c,sysuser as u,sysarea as a 
		where 1=1
	     <trim  suffixOverrides="," >
	    	<if test ="userCode != null and  userCode  != ''">
	       		and o.userCode = #{userCode}
	      	</if>
	      	<if test ="findContent != null and  findContent  != ''">
	       		and o.findContent LIKE CONCAT(CONCAT('%', #{findContent}), '%')
	      	</if>
	      	and a.areacode = o.areacode and u.usercode = o.usercode and c.comcode=o.companycode
	      	order by o.operationDate desc
	    </trim>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from operatorlogs
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sinosoft.normal.po.OperatorLogs">
    insert into operatorlogs (ID, USERCODE, OPERATIONDATE, 
      ROLECODE, ROLENAME, AREACODE, 
      COMPANYCODE, FINDCONTENT, DATAID, 
      Reverse1, Reverse2, Reverse3
      )
    values (#{id,jdbcType=VARCHAR}, #{userCode,jdbcType=VARCHAR}, #{operationDate,jdbcType=TIMESTAMP}, 
      #{roleCode,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, #{areaCode,jdbcType=VARCHAR}, 
      #{companyCode,jdbcType=VARCHAR}, #{findContent,jdbcType=VARCHAR}, #{dateId,jdbcType=VARCHAR}, 
      #{reverse1,jdbcType=VARCHAR}, #{reverse2,jdbcType=VARCHAR}, #{reverse3,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sinosoft.normal.po.OperatorLogs">
    insert into operatorlogs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userCode != null">
        USERCODE,
      </if>
      <if test="operationDate != null">
        OPERATIONDATE,
      </if>
      <if test="roleCode != null">
        ROLECODE,
      </if>
      <if test="roleName != null">
        ROLENAME,
      </if>
      <if test="areaCode != null">
        AREACODE,
      </if>
      <if test="companyCode != null">
        COMPANYCODE,
      </if>
      <if test="findContent != null">
        FINDCONTENT,
      </if>
      <if test="dateId != null">
        DATAID,
      </if>
      <if test="reverse1 != null">
        Reverse1,
      </if>
      <if test="reverse2 != null">
        Reverse2,
      </if>
      <if test="reverse3 != null">
        Reverse3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null">
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="operationDate != null">
        #{operationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="roleCode != null">
        #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null">
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="findContent != null">
        #{findContent,jdbcType=VARCHAR},
      </if>
      <if test="dateId != null">
        #{dateId,jdbcType=VARCHAR},
      </if>
      <if test="reverse1 != null">
        #{reverse1,jdbcType=VARCHAR},
      </if>
      <if test="reverse2 != null">
        #{reverse2,jdbcType=VARCHAR},
      </if>
      <if test="reverse3 != null">
        #{reverse3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sinosoft.normal.po.OperatorLogs">
    update operatorlogs
    <set>
      <if test="userCode != null">
        USERCODE = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="operationDate != null">
        OPERATIONDATE = #{operationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="roleCode != null">
        ROLECODE = #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        ROLENAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        AREACODE = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null">
        COMPANYCODE = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="findContent != null">
        FINDCONTENT = #{findContent,jdbcType=VARCHAR},
      </if>
      <if test="dateId != null">
        DATAID = #{dateId,jdbcType=VARCHAR},
      </if>
      <if test="reverse1 != null">
        Reverse1 = #{reverse1,jdbcType=VARCHAR},
      </if>
      <if test="reverse2 != null">
        Reverse2 = #{reverse2,jdbcType=VARCHAR},
      </if>
      <if test="reverse3 != null">
        Reverse3 = #{reverse3,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sinosoft.normal.po.OperatorLogs">
    update operatorlogs
    set USERCODE = #{userCode,jdbcType=VARCHAR},
      OPERATIONDATE = #{operationDate,jdbcType=TIMESTAMP},
      ROLECODE = #{roleCode,jdbcType=VARCHAR},
      ROLENAME = #{roleName,jdbcType=VARCHAR},
      AREACODE = #{areaCode,jdbcType=VARCHAR},
      COMPANYCODE = #{companyCode,jdbcType=VARCHAR},
      FINDCONTENT = #{findContent,jdbcType=VARCHAR},
      DATAID = #{dateId,jdbcType=VARCHAR},
      Reverse1 = #{reverse1,jdbcType=VARCHAR},
      Reverse2 = #{reverse2,jdbcType=VARCHAR},
      Reverse3 = #{reverse3,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>